.content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
}

.content .title {
    margin-bottom: 4rem;
    font-size: 3.2rem;
    font-weight: 800;
    text-align: center;
    text-transform: uppercase;
}

.content .title span{
    color: #09959f;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.form .row{
    display: flex;
    gap: 1rem;
}

.form input,
.form textarea
{
    border: 2px solid #09959f;
    border-radius: 2rem;
    background-color: transparent;
    outline: none;
    padding: 1.6rem 2.4rem;
}

.form input{
    width: 50%;
}

.form textarea{
    width: 100%;
}
