.content {
    display: flex;
    padding-top: 2rem;
    align-items: center;
    flex-direction: column;
    min-height: calc(100vh - 6.4rem);
}

.content .title {
    margin-bottom: 4rem;
    font-size: 3.2rem;
    font-weight: 800;
    text-align: center;
    text-transform: uppercase;
}

.content .title span{
    color: #09959f;
}

.content .buttons{
    display: flex;
    gap: 1rem;
}

.content .buttons button {
    all: unset;
    padding: 1rem 2rem;
    cursor: pointer;
    border: 2px solid #09959f;
    border-radius: 2rem;
}

.content .buttons button.active{
    background-color: #09959f;
}