.card {
    background: linear-gradient(141.64deg, #130b24 3.52%, #0E3551 66.02%, #052847 88.03%);
    display: flex;
    border-radius: 2.4rem;
    gap: 4rem;
    max-width: 100rem;
    flex-direction: column;
}

@media screen and (min-width: 768px) {
    .card {
        flex-direction: row;
    }
}

.card .texts{
    flex: 1;
    padding: 5rem 5rem 0rem 5rem; 
}

@media screen and (min-width: 768px) {
    .card .texts{
        padding: 5rem 0 5rem 5rem;
    }
}

.card h3 {
    font-size: 3.2rem;
    margin-bottom: 2rem;
}

.card .description {
    color: #cecece;
    font-size: 2rem;
    margin-bottom: 2rem;
}

.card a {
    all: unset;
    color: #cecece;
    display: flex;
    align-items: center;
}

.card a:hover{
    text-decoration: underline;
}

.card .image{
    flex: 1;
    padding: 0rem 5rem 0rem 5rem;
}

@media screen and (min-width: 768px) {
    .card .image{
        padding: 2rem 5rem 0 0;
    }
}

.card h4{
    margin-bottom: 2rem;
}

.card2 {
    background: linear-gradient(141.64deg, #130b24 3.52%, #0E3551 66.02%, #052847 88.03%);
    display: flex;
    flex-direction: column;
    border-radius: 2.4rem;
    gap: 4rem;
    max-width: 100rem;
}

.card2 .texts{
    flex: 1;
    padding: 5rem 5rem 0rem 5rem;
}

.card2 .image{
    width: 50rem
}

.tecnologies{
    display: flex;
    gap: 2rem;
    margin-bottom: 2rem;
}

.tecnology svg{
    width: 4rem;
    height: 4rem;
    cursor: pointer;
    transition: transform .2s ease;
}

.tecnology svg:hover{
    transform: scale(1.2);
}